---
import Layout from "@/layouts/layout.astro";
import bg from '@/assets/bg_404.jpg'

---
<Layout 

    title="Pagina no encontrada."
    subtitle="Pagina no encontrada."
    bgImage={bg.src}

>

<p class="text-center text-lg">
    Tal vez quieras volver al {''}
    <a href="/" class="text-coffee-600 font-bold">Inicio</a>
</p>

</Layout>